{% extends 'base.html' %}
{% block title %}Каталог{% endblock %}
{% block content %}
  <h2>Каталог мебели</h2>
  <a href="{% url 'addproduct' %}" style="display:inline-block;margin-top:10px;background:#FFE0B5;color:#000;padding:8px 12px;text-decoration:none;"> Добавить продукт </a>
  <div class="product-grid">
    {% for product in products %}
    <div class="product-item">
      <div class="product-image">
        {% if product.image %}
          <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 100%; max-height: 200px; object-fit: cover;">
        {% else %}
          <div style="background: #ddd; padding: 40px; text-align: center;">Нет изображения</div>
        {% endif %}
      </div>
      <div class="product-info">
        <h3>{{ product.name }}</h3>
        <p><strong>Категория:</strong> {{ product.category.name }}</p>
        <p><strong>Описание:</strong> {{ product.description|truncatechars:100 }}</p>
        <p><strong>Цена:</strong> {{ product.price }} ₽</p>
        <p><strong>Теги:</strong>
          {% for tag in product.tags.all %}
            <a href="{% url 'tag_products' tag.id %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </p>
        <a href="{% url 'productdetail' product.pk %}" style="display:inline-block;margin-top:10px;background:#FFE0B5;color:#000;padding:8px 12px;text-decoration:none;">Подробнее</a>
        <a href="{% url 'add_to_cart' product.id %}" style="display:inline-block;margin-top:10px;background:#FFE0B5;color:#000;padding:8px 12px;text-decoration:none;">Добавить в корзину</a>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}