{% extends 'base.html' %}
{% block title %}Список категорий{% endblock %}
{% block content %}
  <h2>Список всех категорий</h2>
  <ul class="category-list">
    {% for cat in categories %}
      <li>
        <a href="{% url 'category_products' cat.id %}">{{ cat.name }}</a>
        {% if cat.description %}
          <p class="category-description">{{ cat.description }}</p>
        {% endif %}

        <form action="{% url 'edit_category' cat.id %}" method="get" style="display:inline;">
          <button type="submit" style="margin-left: 5px; background: #d0f0c0; border: none; padding: 4px 8px; cursor: pointer; border-radius: 4px;">Редактировать</button>
        </form>

        <form action="{% url 'delete_category' cat.id %}" method="post" style="display:inline;">
          {% csrf_token %}
          <button type="submit" style="margin-left: 5px; background: #ffcccc; border: none; padding: 4px 8px; cursor: pointer; border-radius: 4px;">Удалить</button>
        </form>
      </li>
    {% endfor %}
    <li><a href="{% url 'add_category' %}" class="add-category">+ Добавить категорию</a></li>
  </ul>
{% endblock %}